*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(235, 235, 235);
}
.section1{
    background: url(81f3ff974d82520780078ba1cfbd453a1583259680.avif);
    height: 450px;
    width: auto;
}
.firstline{
    display: flex;
    justify-content: space-between;
    margin: 0px 130px;
    align-items: center;
}
.firstline h1{
    color: white;
    margin-top: 7px;
}
.secondsection{
    margin-left: 75px;
}
.secondsection h1{
    color: white;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: 10px;
}
.buttons{
    margin-top: 15px;
    color: white;
}
.buttons a{
    margin: 0px 5px;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
#Login{
    color: white;
    border: 1px solid orangered;
}
.CreateAccount{
    background-color: rgb(0, 92, 122);
    
}
.secondsection{
    margin: 30px 140px;
}
p{
    margin: 30px 0px;
    color: white;
}
.buttons2 button{
    border: none;
    border-radius: 5px;
    margin-bottom: 12px;
}
#b1{
    padding: 20px 70px;
    background-color: rgb(0, 92, 122);
    color: white;
    font-size: large;
}
#b2{
    padding: 20px 25px;
    margin-left: 5px;
    font-size: large;
}
.secondsection a{
    text-decoration: none;
    color: white;
}
.box{
    padding: 50px 80px;
    width: 540px;
    background-color: white;
    position: relative;
    left: 320px;
    text-align: center;
    bottom: 30px;
    border-radius: 10px;
    height: 300px;
}
.box p{
    color: rgb(63, 63, 63);
}
.lists{
    display: flex;
    text-align: left;
    justify-content: left;
    margin-left: -40px;
    font-size: large;
}
li{
    margin-bottom: 30px;
    list-style: none;
}
.l1{
    margin-right:150px;
    
}

